div(class=props.className onClick=this.submitForm)
  yield

export.
  function submitForm() {
    if (this.props.confirmMessage) {
      if (window.confirm(this.props.confirmMessage)) this.sendForm();
    } else {
      this.sendForm();
    }
  }

export.
  function sendForm () {
    if (this.props.onStart) this.props.onStart.apply(null, arguments);
    var template = this.props.template;
    this.context.forms.create(template)
      .submit((err, res) => {
        if (err) this.setState({error: err});
        if (this.props.onFinish) this.props.onFinish(err, res);
      });
  }

export var displayName = 'Submit'
