:doc
  @name Spinner

import './index.ess'  
  
div
  span.Spinner-spoke
  span.Spinner-spoke
  span.Spinner-spoke
  span.Spinner-spoke
  span.Spinner-spoke
  span.Spinner-spoke
  span.Spinner-spoke
  span.Spinner-spoke
  span.Spinner-spoke
  span.Spinner-spoke
  span.Spinner-spoke
  span.Spinner-spoke
  span.Spinner-spoke
