import './index.ess'  
  
div
  span.Spinner-spoke
  span.Spinner-spoke
  span.Spinner-spoke
  span.Spinner-spoke
  span.Spinner-spoke
  span.Spinner-spoke
  span.Spinner-spoke
  span.Spinner-spoke
  span.Spinner-spoke
  span.Spinner-spoke
  span.Spinner-spoke
  span.Spinner-spoke
  span.Spinner-spoke
  
export var displayName = 'Spinner'