import * as debounce from 'debounce'

var fns = {onChange: this.onChange, setValue: this.setValue}
div
  if props.template
    yield input(state.value, fns, state.error)

export.
  function componentWillMount() {
    this.submit = debounce(this.submit, this.props.debounce || 300);
  }

export.
  function submit (value) {
    value = value || this.state.value;
    var template = this.props.template;
    var valObj = {'value': value};
    
    if (template.input._name) valObj['_name'] = template.input._name.value;
    this.context.forms.create(template)
      .set(valObj)
      .set()
      .submit((err) => {
        if (err) this.setState({error: err, value: this.propValue()});
      });
  }

export.
  function getInitialState() {
    return {
      value: this.propValue()
    };
  }

export.
  function componentWillReceiveProps(props) {
    if (this.isUpToDate()) this.setState({value: this.propValue(props)});
    return true;
  }

export.
  function isUpToDate() {
    return this.propValue() === this.state.value || !this.state.value;
  }

export.
  function propValue(props) {
    props = props || this.props
    return props.template && props.template.input && props.template.input.value && props.template.input.value.value;
  }

export.
  function onChange(evt, value) {
    var val = value != null ? value : evt.target.value;
    if (this.state.value === val) return;
    this.setState({value: val});
    this.submit(val);
  }

export.
  function setValue (value) {
    if (this.state.value === value) return;
    this.setState({value: value});
    this.submit(value);
  }

export var displayName = 'Autosave'