:doc
  @name Toolbar
  @props {Object} account
  @props {String} accountImg
  @props {String} center
  @props {Boolean} left
  @props {Boolean} links
  @props {Boolean} logo
  @props {Boolean} right

import './index.ess'
import ToolbarAccount from './account.jade'

.Toolbar
  .Toolbar-inner
    .Toolbar-row
      if props.logo
        a.Toolbar-left-logo(to='/')
          img.Toolbar-left-logo-image(src=props.logo)

      if props.left
        .Toolbar-left-content
          yield left

      if props.links
        .Toolbar-row
          yield links

      if props.center
        .Toolbar-center
          yield center

      if props.right
        .Toolbar-right
          yield right

      var account = props.account || _.account
      if props.accountImg
        // TODO get links somehow
        ToolbarAccount(image=account.image)
      // TODO else block

    if props.links
      .Toolbar-row-short
        yield links

  .Toolbar-buffer
    if props.links
      .Toolbar-row-short

:module
  export var mergeProps = true