:doc
  @name Toolbar
  @props {Boolean} left
  @props {Boolean} center
  @props {Boolean} right

import './index.ess'

.Toolbar
  .Toolbar-inner
    if props.left
      .Toolbar-left
        yield left

    if props.center
      .Toolbar-center
        yield center

    if props.right
      .Toolbar-right
        yield right