import backgroundImage from '../../utils/backgroundImage'

var owner = props.owner
var avatarImageSrc = owner.image

var templateName = props.templateName

div(className=templateName)
  if !!avatarImageSrc
    var style = backgroundImage(avatarImageSrc)
    yield content({className: templateName + '-image', style: style})
  else
    var avatarName = owner.is_user ? owner.initials : (owner.name || owner.email).charAt(0)
    div(className=templateName + '-content')
      yield content({className: templateName + '-content-text', children: avatarName})

  