import './index.js'
import './reveal.js'

var actions= { toggle: this.toggle, hide: this.hideReveal, show: this.showReveal }

.Reveal(class={'is-active': state.isActive} onClick=this.lockReveal onMouseOver=this.showReveal onMouseOut=this.hideReveal)
  yield handler(actions, state.isActive)
  yield menu(actions)


export var mergeProps = true
export var initialState = {isActive: false}
export {toggle, onWindowClick, hideReveal, showReveal, lockReveal, unlockAndHide, attachKeyListener, componentWillMount, componentWillUnmount} from './reveal.js'

export var displayName = 'Reveal'