import './reveal-fns.js'

var actions= { toggle: this.toggle, hide: this.hideReveal, show: this.showReveal }

.Reveal(class={'is-active': state.isActive})
  yield handler(actions, state.isActive)
  if(state.isInDom)
    yield menu(actions)

export var mergeProps = true
export var initialState = {isActive: false, isLocked: false}
export {componentWillUnmount, hideReveal, lockReveal, onWindowClick, showReveal, toggle, unLockReveal} from './reveal-fns.js'

export var displayName = 'Reveal'
